.homePageLogo{
    background-color: white;
    padding: 3px;
    width: 128px;
}

.otherPageLogo{
    background-color: white;
    width: 80px;
    padding: 2px;
}

@media (min-width: 1020px){
    .our-blogs{
        display: flex !important;
        justify-content: center !important;
    }
}

h2.headingBanner {
    -webkit-text-stroke-width: thin;
    font-variant-position: super;
}

@media (min-width: 1020px){
    .gallary-images{
        display: flex !important;
        justify-content: center !important;
    }
}